._header_2rsw1_1{display:flex;align-items:center;justify-content:center;padding-bottom:1rem}._logo_2rsw1_8{width:2rem;height:2rem}._title_2rsw1_13{font-weight:500;font-size:1.875rem;margin-left:.25rem;text-align:center;margin-bottom:0}
